body {
	width: 100%;
	height: 100%;
	margin: 0;
	display: block;
	cursor: url(https://img.icons8.com/doodle/48/000000/basketball--v2.png) 10 10, auto;
}

.column1 {
	height: 20%;
	width: 100%;
	display: flex;
}



.column2 {
	height: 60%;
	width: 100%;
	display: flex;
}

.column3 {
	height: 20%;
	width: 100%;
	display: flex;
}

.uncledrew {
	height: 100%;
	width: 10%;
	display: flex;
}

.logo {
	height: 100%;
	width: 10%;
	display: flex;
}

.title {
	height: 100%;
	width: 80%;
	display: flex;
}

.main {
	height: 100%;
	width: calc(100%/3);
	display: flex;
}

.shoes {
	height: 100%;
	width: calc(100%/3);
	display: flex;
}

.contain-image {
	height: 80%;
	width: 80%;
}

.center {
	justify-content: center;
	align-items: center;
}

.contain-image2 {
	max-height: 100%;
	max-width: 100%;
}


.section1 {
	height: 100%;
	width: 50%;
	display: flex;
}

.section2 {
	height: 100%;
	width: 50%;
	display: flex;
}

.uncledrew1 {
	content:url(images/drew1.jpg);
}

.uncledrew2 {
	content:url(images/drew2.jpg);
	background-color: orange;
}

.uncledrew3 {
	content:url(images/ud3.PNG);
}


.title2 {
	content:url(images/title2b.png);
	max-height: 100%;
	max-width: 100%;
}

.s1a {
	content:url(images/s1a.jpg);
}

.s1b {
	content:url(images/s1b.jpg);
}

.s1c {
	content:url(images/s1c.jpg);
}

.s1d {
	content:url(images/s1d.jpg);
}

.s1e {
	content:url(images/s1e.jpg);
}

.s1f {
	content:url(images/s1f.jpg);
}

.s2a {
	content:url(images/s2a.png);
}

.s2b {
	content:url(images/s2b.jpg);
}

.s2c {
	content:url(images/s2c.png);
}

.s2d {
	content:url(images/s2d.png);
}

.s2e {
	content: url(images/s2e.png)
}

.s2f {
	content:url(images/s2f.png);
}


.s3a {
	content:url(images/s3a.png);
}

.s3b {
	content:url(images/s3b.png);
}

.s3c {
	content:url(images/s3c.jfif);
}

.s3d {
	content:url(images/s3d.png);
}

.s3e {
	content:url(images/s3e.png);
}

.s3f {
	content:url(images/s3f.png);
}

.s4a {
	content:url(images/s4a.png);
}

.s4b {
	content:url(images/s4b.png);
}

.s4c {
	content:url(images/s4c.png);
}

.s4d {
	content:url(images/s4d.jpg);
}

.s4e {
	content:url(images/s4e.png);
}

.s4f {
	content:url(images/s4f.png);
}

.s5a {
	content:url(images/s5a.png);
}

.s5b {
	content:url(images/s5b.png);
}

.s5c {
	content:url(images/s5c.png);
}

.s5d {
	content:url(images/s5d.png);
}

.s5e {
	content:url(images/s5e.jpg);
}

.s5f {
	content:url(images/s5f.png);
}

.s6a {
	content:url(images/s6a.png);
}

.s6b {
	content:url(images/s6b.png);
}

.s6c {
	content:url(images/s6c.png);
}

.s6d {
	content:url(images/s6d.png);
}

.s6e {
	content:url(images/s6e.png);
}

.s6f {
	content:url(images/s6f.png);
}

.gif1 {
	content:url(images/Kyrie1.gif);
}

.gif2 {
	content:url(images/Kyrie_Irving.gif);
	background-color: green;
}

.gif3 {
	content:url(images/Kyrie3.gif);
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake:hover {
  animation: shake 0.5s infinite;
}  

.shake:active {
	animation; shadow-pulse .1s;
}

@keyframes shadow-pulse 
{
	0% {
		transform: scale(.5);
	}
	100% {
		transform: scale(1);
	}
}

.black-white {
	filter: grayscale(80%);
	cursor: pointer;
}

.color:hover {
	filter: grayscale(0%);
} 

.cursor2:hover {
	cursor: pointer;
}
.button-effect:active { 
    transform: scale(0.95, 0.95);
}



.red {background-color: #CA1B22;}
.light_blue {background-color: #0B69C0;}
.purple {background-color: #3A246D;}
.light-grey {background-color: #A9A9A9;}
.dark-grey {background-color: #707070;}
.black {background-color: #000000;}
.white {background-color: #FFFFFF;}
.green {background-color: #008D24;}
.orange {background-color: #EA6626;}
.maroon {background-color: #6f263d;}

@media only screen and (max-width: 700px) {
	body {
		width: 100%;
		height: 170%;
	}
	
	.column1 {
		height: 10%;
		width: 100%;
		display: flex;
	}
	
	.column2 {
		height: 150%;
		width: 100%;
		display: block;
	}
	
	.column3 {
		height: 10%;
		width: 100%;
		display: block;
	}
	
	.section1 {
		height: 100%;
		width: 100%;
		display: flex;
	}

	.section2 {
		height: 100%;
		width: 100%;
		display: flex;
	}
	
	.main {
		height: calc(100%/3);
		width: 100%;
		display: flex;
	}
	
	.uncledrew {
	height: 100%;
	width: 20%;
	display: flex;
}

	.logo {
	height: 100%;
	width: 20%;
	display: flex;
	}

	.title {
	height: 100%;
	width: 60%;
	display: flex;
	}



}
